*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 80%;
    height: 80vh;
    background-color: aquamarine;
    overflow-x: auto;
    overflow-y: hidden;
}

img{
    height: 80vh;
    position: relative;
    transition: all 5s ease;
}